.control {
    width: 50px;
    height: 25px;
}

.pad {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.input {
    text-align: center;
}

.view {
    text-align: center;
}

.toggle {
    vertical-align: middle;
}

.circle-green {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius:10;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      background: green;
}

.circle-red {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius:10;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      background: red;
}
